<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <div class="container d-flex justify-content-between ">
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/img/LOGO%20On%20Solution.png"
        height="60"
        alt=""
        loading="lazy"
      />
    </a>
    <a href="/">
      <i class="fas fa-sign-out-alt"></i>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 d-flex justify-content-center">
        <h3>Bienvenido de nuevo</h3>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Tus Datos
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p>Nombre: </p>
                <p>Apellido: </p>
                <p>Telefono: </p>
                <p>Cedula: </p>
                <p>Email: </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            Tu Afiliacion(es)
          </div>
          <div class="card-body">
            <div class="row d-flex justify-content-center">
              <div class="col-4">
                <div class="card card-afi">
                  <div class="card-header d-flex justify-content-center">
                    INDIVIDUAL
                  </div>
                  <div class="card-body">

                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <img src="./assets/img/Scenes05.svg" class="w-100" alt="">
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card card-afi">
                  <div class="card-header d-flex justify-content-center">
                    BANCA ASISTENCIA
                  </div>
                  <div class="card-body">

                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <img src="./assets/img/Scenes01.svg" class="w-100" alt="">
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card card-afi">
                  <div class="card-header d-flex justify-content-center">
                    CORPORATIVO
                  </div>
                  <div class="card-body">

                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <img src="./assets/img/Scenes03.svg" class="w-100" alt="">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
