<div class="container" id="section-1">
  <div class="row">
    <div class="col-6">
      <div class="container section-1 mt-5">
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <img src="./assets/img/LOGO%20On%20Solution.png" class="mx-auto logo" alt="Logo">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <h3>NO DEJE SU TRANQUILIDAD AL AZAR</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-primary mr-2">Consulta tu Plan</button>
            <button type="button" class="btn btn-primary ml-2">Solicitud de Afiliación</button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-6 mt-5">
      <div class="container mt-5">
        <div class="row mt-5">
          <div class="col-12 mt-5 d-flex justify-content-center">
            <h3>Nuestros Servicios</h3>
          </div>
          <hr>

        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <div class="rombo rombo-first"></div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div class="rombo rombo-center"></div>
            <div class="rombo "></div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div class="rombo rombo-last"></div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
<div class="container" id="section-2">
  <div class="row mt-5">
    <div class="col-12 mt-5 d-flex justify-content-center">
      <h3>Nuestros Planes de Afiliación</h3>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <hr>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <h5>INDIVIDUAL</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary mr-2">Solicitar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <h5>BANCA ASISTENCIA</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary mr-2">Solicitar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <h5>CORPORATIVO</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary mr-2">Solicitar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="section-3">

</div>
