<app-header></app-header>


<div class="container-fluid" id="home" style="background-image: url('./assets/img/background-1.png');">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="container section-1 mt-5">
          <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center " style="margin-top: 40%">
              <img src="./assets/img/LOGO%20On%20Solution.png" class="mx-auto logo" alt="Logo">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <h3 class="">NO DEJE SU TRANQUILIDAD AL AZAR</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <button type="button" class="btn btn-primary mr-2">Consulta tu Plan</button>
              <button type="button" class="btn btn-primary ml-2">Solicitud de Afiliación</button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-6 mt-5">
        <div class="container mt-5">
          <div class="row mt-5">
            <div class="col-12 mt-5 d-flex justify-content-center">
              <h3 class="text">Nuestros Servicios</h3>
            </div>
            <hr>

          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <div class="rombo rombo-first"></div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <div class="rombo rombo-center"></div>
              <div class="rombo "></div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <div class="rombo rombo-last"></div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

</div>
<div class="container-fluid" id="afiliacion" style="background-image: url('./assets/img/background-2.png');">
  <div class="container container-afiliacion">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h3>Nuestros Planes de Afiliación</h3>
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        <hr>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row p-5">
      <div class="col-4">
        <div class="card card-afiliacion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <img src="./assets/img/Scenes05.svg" class="w-100" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <h5>INDIVIDUAL</h5>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center">
                  <a href="#contacto">
                    <button type="button" class="btn btn-primary mr-2">Solicitar</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card card-afiliacion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <img src="./assets/img/Scenes01.svg" class="w-100" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <h5>BANCA ASISTENCIA</h5>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center">
                  <button type="button" class="btn btn-primary mr-2">Solicitar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card card-afiliacion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <img src="./assets/img/Scenes03.svg" class="w-100" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <h5>CORPORATIVO</h5>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center">
                  <button type="button" class="btn btn-primary mr-2">Solicitar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="contacto" style="background-image: url('./assets/img/background-3.png');">
  <div class="container container-contacto">
    <div class="row mt-5">
      <div class="col-12 mt-5 d-flex justify-content-center">
        <h3 class="text">Contacto</h3>
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        <hr>
      </div>
      <div class="col-4"></div>
    </div>

    <div class="row mt-4">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="card p-5">
          <div class="card-body">
            <form [formGroup]="contactoForm"  class="row w-100">
              <div class="row">
                <div class="col-6">
                  <mdb-form-control>
                    <input mdbInput type="text" id="form1" formControlName="nombre" class="form-control" />
                    <label mdbLabel class="form-label" for="form1">Nombre</label>
                  </mdb-form-control>
                </div>
                <div class="col-6">
                  <mdb-form-control>
                    <input mdbInput type="text" id="form1" formControlName="apellido" class="form-control" />
                    <label mdbLabel class="form-label" for="form1">Apellido</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <mdb-form-control>
                    <input mdbInput type="text" id="form1" formControlName="cedula" class="form-control" />
                    <label mdbLabel class="form-label" for="form1">Cédula</label>
                  </mdb-form-control>
                </div>
                <div class="col-6">
                  <mdb-form-control>
                    <input mdbInput type="text" id="form1" formControlName="email" class="form-control" />
                    <label mdbLabel class="form-label" for="form1">Correo electrónico</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-12">
                  <mdb-form-control>
                    <input mdbInput type="text" id="form1" formControlName="telefono" class="form-control" />
                    <label mdbLabel class="form-label" for="form1">Número telefónico</label>
                  </mdb-form-control>
                </div>

              </div>
              <div class="row">
                <div class="col-12 mt-4">
                  <p>Selección de tipo de Afiliacion</p>

                </div>
              </div>

              <div class="row w-100">
                <div class="col-12">
                  <select formControlName="tipoAfiliacion" class="select-in">
                    <option value="INDIVIDUAL">INDIVIDUAL</option>
                    <option value="BANCA-ASISTENCIA">BANCA ASISTENCIA</option>
                    <option value="CORPORATIVO">CORPORATIVO</option>
                  </select>
                </div>
              </div>
            </form>

            <div class="row mt-4">
              <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary mr-2" (click)="enviarSolicitud()">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

</div>


<footer>
  aklsdjkajsd
</footer>
